@font-face {
  font-family: 'Locanita';
  src: url('./Locanita.otf') format('otf'),
    url('./Locanita.ttf') format('ttf');
}

.hello {
    color: red;
    font-size: 1.5rem;
    font-family: 'Locanita';
  }
